/* login.component.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff; /* Light background color for contrast */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .full-width {
    width: 100%;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  